@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: 'poppins-regular';
    src: url('../style/fonts/Poppins/Poppins-Regular.ttf');
}

@font-face {
    font-family: 'poppins-bold';
    src: url('../style/fonts/Poppins/Poppins-Bold.ttf');
}

@font-face {
    font-family: 'poppins-extrabold';
    src: url('../style/fonts/Poppins/Poppins-ExtraBold.ttf');
}

@font-face {
    font-family: 'poppins-medium';
    src: url('../style/fonts/Poppins/Poppins-Medium.ttf');
}


@layer components {
    .btn-primary {
        @apply bg-dark text-white p-2 rounded-full px-5 hover:bg-gray-400 duration-200 text-sm
    }
    .form-element {
        @apply border w-full rounded-full p-2
    }
}

.important-black {
    color:black !important
}